doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/icon-font/raphaelicons.css')
    script(src="/javascripts/lib/require.js")
    script(src="/javascripts/main.js")
  body
    block content