extends layout

block content
  form(method="post")
    div.postform
      h1= title
      div.form-element
        label
          | Title:
        input.post-title(type="text")
      div.form-element
        label
          | Post content:
        textarea(cols="120", rows="20")
      div.form-element
        label
          | Tags:
        span Comma separated, please
        input.post-tags(type="text")
      input(type="submit")