body {
  padding: 50px;
  font: 14px "Segoe UI", Helvetica, Arial, sans-serif;
  /*"Lucida Grande", Helvetica, Arial, sans-serif;*/

}
a {
  color: #00B7FF;
}
.postform .form-element input[type="text"],
.postform .form-element input[type="password"],
.postform .form-element input[type="email"] {
  height: 32px;
  font-size: 15px;
}
.postform .form-element .post-title {
  width: 50%;
}
.postform .form-element .post-tags {
  width: 50%;
}
.postform input[type="submit"] {
  font-weight: bold;
  margin-top: 10px;
}
.form-element label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
.form-element span {
  display: block;
  margin-bottom: 10px;
}
.form-element input[type="text"],
.form-element input[type="password"],
.form-element input[type="email"] {
  display: inline-block;
  height: 29px;
  margin: 0;
  padding: 0 8px;
  background: white;
  border: 1px solid #D9D9D9;
  border-top: 1px solid silver;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.form-element input[type=email]:hover,
.form-element input[type=password]:hover,
.form-element input[type=text]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.form-element input[type=email]:focus,
.form-element input[type=password]:focus,
.form-element input[type=text]:focus {
  outline: none;
  border: 1px solid #4d90fe;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.form-element .error {
  margin-top: 5px;
  padding: 5px;
  color: red;
  background-color: #FAA5A6;
  border: solid 1px red;
  font-style: italic;
}
.signupform,
.loginform {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}
.signupform .form-element input[type="text"],
.loginform .form-element input[type="text"],
.signupform .form-element input[type="password"],
.loginform .form-element input[type="password"],
.signupform .form-element input[type="email"],
.loginform .form-element input[type="email"] {
  width: 100%;
  height: 32px;
  font-size: 15px;
}
.signupform input[type="submit"],
.loginform input[type="submit"] {
  font-weight: bold;
  margin-top: 10px;
}
.signupform .form-error,
.loginform .form-error {
  margin-top: 5px;
  padding: 5px;
  color: red;
  background-color: #FAA5A6;
  border: solid 1px red;
  font-style: italic;
  padding-left: 25px;
}
.user-toolbar-form {
  text-align: right;
  line-height: 30px;
}
.user-toolbar-form a {
  margin: 5px;
}
.posts-list {
  width: 600px;
}
.posts-list .post {
  height: 151px;
  border-bottom: solid 1px lightgray;
  border-right: solid 1px lightgray;
  margin-top: 10px;
}
.posts-list .post .right-tileLabel {
  padding: 2px 2px 1px 2px;
  border-left: 15px solid transparent;
  border-bottom: 20px solid #333;
  height: 0;
  line-height: 22px;
  color: white;
  width: 10%;
  float: right;
}
.posts-list .post .title-placeholder {
  font-size: 17px;
  padding: 5px;
}
.posts-list .post .title-placeholder .title-icon {
  font-size: 1.1em;
  margin-right: 5px;
}
.posts-list .post .title-placeholder .post-title {
  text-decoration: none;
  font-weight: bolder;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  color: #666;
}
.posts-list .post .title-placeholder .post-title:hover {
  color: black;
}
.posts-list .post .post-preview-placeholder {
  margin: 5px;
  height: 86px;
}
.posts-list .post .post-preview-placeholder .post-preview {
  margin-left: 10px;
}
.posts-list .post .post-preview-placeholder .date-of-post {
  height: 100%;
  width: 100px;
  float: left;
  font-size: 20px;
  font-weight: bolder;
  padding-top: 5px;
  margin-right: 10px;
  color: lightgray;
  text-align: center;
}
.posts-list .post .post-preview-placeholder .date-of-post:hover {
  background-color: #333;
  color: white;
}
.posts-list .post .more {
  color: whiteSmoke;
  text-align: right;
  text-decoration: none;
}
.comment-form {
  margin-top: 30px;
  padding: 10px;
  border: solid 1px lightgray;
  width: 565px;
}
.comments-ribbon {
  margin-top: 20px;
  margin-left: 20px;
  border-top: solid 1px lightgray;
  width: 700px;
}
.comments-ribbon .post-comment {
  border-bottom: solid 1px lightgray;
}
.comments-ribbon .post-comment label {
  font-weight: normal;
  font-style: italic;
}
.comments-ribbon .post-comment .author {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
.comments-ribbon .post-comment .content {
  margin: 5px 5px 10px 5px;
  width: 600px;
}
.goback {
  text-decoration: none;
  color: lightgray;
  font-size: 3.2em;
  float: left;
  margin-right: 10px;
}
.goback:hover {
  color: #666;
}
