@signup-margin-top: 10px;

.modern-box-shadow(@color){
    -webkit-box-shadow: inset 0 1px 2px @color;
    -moz-box-shadow: inset 0 1px 2px @color;
    box-shadow: inset 0 1px 2px @color;
}
.common-error(){
    margin-top: 5px;
    padding: 5px;
    color : red;
    background-color: #FAA5A6;
    border: solid 1px red;
    font-style: italic;
}

body {
  padding: 50px;
  font: 14px "Segoe UI", Helvetica, Arial, sans-serif; /*"Lucida Grande", Helvetica, Arial, sans-serif;*/
}

a {
  color: #00B7FF;
}

.postform{
    .form-element{
        input[type="text"], input[type="password"], input[type="email"]{            
            height: 32px;
            font-size: 15px;
        }
        
        .post-title{
            width: 50%;
        }
        
        .post-tags{
            width: 50%;
        }
    }
    
    input[type="submit"]{
        font-weight: bold;
        margin-top: @signup-margin-top;      
    }
}

.form-element {
    label {
        display: block;
        font-weight: bold;
        margin-top: @signup-margin-top;
        margin-bottom: 10px; 
    }
    
    span {
        display: block;
        margin-bottom: 10px;
    }    
    
    input[type="text"], input[type="password"], input[type="email"]{
        display: inline-block;
        height: 29px;
        margin: 0;
        padding: 0 8px;
        background: white;
        border: 1px solid #D9D9D9;
        border-top: 1px solid silver;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        border-radius: 1px;
    }
    
    input[type=email]:hover,  
    input[type=password]:hover,
    input[type=text]:hover{
        border: 1px solid #b9b9b9;
        border-top: 1px solid #a0a0a0;
        .modern-box-shadow(rgba(0,0,0,0.1));
    }
    
    input[type=email]:focus,
    input[type=password]:focus,
    input[type=text]:focus{
        outline: none;
        border: 1px solid #4d90fe;
        .modern-box-shadow(rgba(0,0,0,0.3));
    }
        
    .error{
        .common-error;
    }
}

.signupform, .loginform {
    width : 250px;
    margin-left: auto;
    margin-right: auto;
    
    .form-element{
        input[type="text"], input[type="password"], input[type="email"]{
            width : 100%;
            height: 32px;
            font-size: 15px;
        }
    }
    
    input[type="submit"]{
        font-weight: bold;
        margin-top: @signup-margin-top;
    }
    
    .form-error{
        .common-error;
        padding-left: 25px;
    }

}

.user-toolbar-form{
    text-align: right;
    line-height: 30px;
    a {
        margin : 5px;
    }
}

.posts-list{
    width : 600px;
    .post{
        height : 151px;
        border-bottom: solid 1px lightgray;        
        border-right: solid 1px lightgray;
        margin-top: 10px;

        .right-tileLabel {
            padding: 2px 2px 1px 2px;
            border-left: 15px solid transparent;
            border-bottom: 20px solid #333;
            height: 0;
            line-height: 22px;
            color : white;
            width: 10%;
            float: right;
        }
        
        .title-placeholder{
            font-size: 17px;
            padding: 5px;
            .post-title{
                text-decoration:none;            
                font-weight: bolder;
                font-family: "Segoe UI", Helvetica, Arial, sans-serif;
                color: #666;
            }
        }
        .post-preview-placeholder{
            margin: 5px;    
            height: 86px;
            
            .post-preview {
                margin-left: 10px;
            }
            
            .date-of-post {
                height: 100%;
                width: 100px;
                float: left;            
                font-size: 20px;
                font-weight: bolder;
                padding-top:5px;
                margin-right: 10px;
                color: lightgray;
                text-align: center;
                
                &:hover{
                   background-color: #333;
                   color: white;
                }
            }
        }
        .more{
            text-decoration:none;
            color: whiteSmoke;
            text-align: right;
            text-decoration:none;
        }
    }
}